
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@import "tailwindcss";

@theme{
 --container-container : 98%;
 --color-navItems : #FFFFFF;
 --font-roboto :'Roboto', sans-serif;
 --color-dataColor : #344767;
}